<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
   {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
    <div class="banner1">
        <div class="navbar">
           {% load static %}
            <img src="{% static 'media/LO.png' %}" class="logo">
        <ul>
            <li><a href="../">Home</a></li>
            <li><a href="../about/">about</a></li>
            <li><a href="../login/">login</a></li>
            <li><a href="../register/">register</a></li>
    
        </ul>
        </div>
        </div>
</body>
</html>