{% extends 'base.html' %}


{% load static %}

{% block content %}

<br>
<br>

<h2 style="text-align:center">Product Card</h2>

<div class="card-container">
    {% for vehicle in vehicles %}
    <!-- <a href="{% url 'vehicle_detail' %}"> -->
      <a href="http://127.0.0.1:8000/vehicle_detail?id={{vehicle.id}}">

    <div class="card">
        <img src="{{ vehicle.image.url }}" width="50" height="50" alt="{{ vehicle.brand }} {{ vehicle.model }}">
        <!-- <img src="{{ vehicle.image1.url }}" width="50" height="50" alt="{{ vehicle.brand }} {{ vehicle.model }}">
        <img src="{{ vehicle.image2.url }}" width="50" height="50" alt="{{ vehicle.brand }} {{ vehicle.model }}">
        <img src="{{ vehicle.image3.url }}" width="50" height="50" alt="{{ vehicle.brand }} {{ vehicle.model }}"> -->
        <h3>{{ vehicle.brand }} {{ vehicle.model }}</h3>
        <p>Year: {{ vehicle.year }}</p>
        <p>Mileage: {{ vehicle.mileage }}</p>
        <p>Price: {{ vehicle.price }}</p>
        <p>Description: {{ vehicle.description }}</p>
    </div>
    </a>
    
    {% endfor %}

    
  </div>
  

{% endblock%}